
.mypage-profile__content {
    margin: 0 auto;
    padding: 80px 15px;
    max-width: 1230px;
}

.mypage-profile__heading {
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
}

.form {
    margin: 0 auto;
    width: 50%;
    font-weight: 700;
}

.form__group {
    margin-bottom: 5px;
}

.form__image-picker input[type="file"] {
    display: none;
}

.image-picker__label {
    display: inline-block;
    cursor: pointer;
}

.image-picker__img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
    /* はみ出す部分をトリミングして綺麗に */
    border: 1px solid #ddd;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 3px;

    appearance: none;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__button {
    margin-top: 40px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #ed5a15;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
