.login-form__content {
    margin: 0 auto;
    padding: 80px 15px;
    max-width: 1230px;
}

.login-form__heading {
    margin-bottom: 30px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
    font-weight: 700;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 3px;

    appearance: none;
}

.form__button {
    margin-top: 40px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #ed5a15;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.register__link {
    margin-top: 20px;
    text-align: center;
}

.register__button-submit {
    text-decoration: none;
}