.mypage__content {
    margin: 0 auto;
    padding: 80px 15px;
    max-width: 1230px;
}

.mypage__profile {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    width: 50%;
}

.mypage-image__img,
.mypage-image__placeholder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    background: rgb(210, 210, 211);
}

.mypage__name {
    flex: 1;
}

.mypage__user-name {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.mypage-profile__button {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    color: #ed5a15;
    border: 2px solid #ed5a15;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
}

.mypage-products-tabs {
    display: flex;
    gap: 40px;
    margin-top: 50px;
    border-bottom: 1px solid #000;
}

.mypage-products-tabs__heading {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.mypage-products {
    flex: 1;
    min-width: 0;
}