.mypage-profile__content {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.mypage-profile__heading {
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
}

.profile-image {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.profile-image__img,
.profile-image__placeholder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    background: rgb(210, 210, 211);
}

.profile-image__input {
    display: none;
}

.profile-image__button {
    margin: 0;
    padding: 5px 10px;
    color: #ed5a15;
    border: 2px solid #ed5a15;
    box-sizing: border-box;
    border-radius: 5px;
}

.form {
    margin: 0 auto;
    width: 50%;
    font-weight: 700;
}

.form__group {
    margin-bottom: 10px;
}

.form__image-picker input[type="file"] {
    display: none;
}

.image-picker__label {
    display: inline-block;
    cursor: pointer;
}

.image-picker__img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 3px;

    appearance: none;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__button {
    margin-top: 40px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #ed5a15;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}